/*Especificidad: 001*/
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #3A1051;
	background-color: #E5CCF5;
}

/*Especificidad: 001*/
h1, h2, h3{
    color: #DDBBF1;
    background-color: #0A020D;
    text-align: center;
}

/*Especificidad: 001*/
form{
    padding: 1em;
    border-radius: 1em;
    color: #000;
    background-color: darkgray;
	margin: 0 auto;
	
    display: grid;
	grid-gap: 10px;
	
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
    max-width: 80vw;
}


/*Especificidad: 011*/
input[type=button]{
    border-radius: 0.5em;
    height: 3em;
}

/*Especificidad: 001*/
img{
    max-width: 30vw;
}

/*Especificidad: 001*/
table {
	width: 80%;
	border-collapse: collapse;
}
/*Especificidad: 001*/
table, th, td {
	border: 0.15em;
	border-style: solid;
	border-color: #000001;
}
/*Especificidad: 001*/
th, td {
	padding: 1em;
}
/*Especificidad: 001*/
th{
	color: #545454;
	background-color: #f7f7f7;
}
/*Especificidad: 002*/
table caption {
	font-size: 2em;
	text-transform: uppercase;
}


